body{

color:#333; 
text-align: center;
font-family: "Arial";
font-size: 16px;
margin:0;
padding:0;
}
#cabecera
{
    background: rgb(27, 27, 102);
    box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.5);
    color: white;
    margin:0;
    padding: 0.5em ;
    font-size: 15px;
    font-weight: bold;

}
#tagline
{
   font-size: 0.8 em;
   font-weight: normal;
   padding: 1em 0 0 0;
}
#container
{
 width: 70%;
 padding: 0;
 text-align: left;
 border: 1px solid #000;
 margin: 0 auto;

}
#cotainer h1
{
    font-size: 20px;
 
}